.pixel-blast-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    width: 100dvw;
    height: 100dvh;
    z-index: 0;
    touch-action: none;
}

.pixel-blast-container canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}
